<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBx02B6DjRDe8eqGFbdnTDVjU7PqtGRUv4</string>
	<key>GCM_SENDER_ID</key>
	<string>872968734987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.loginapp</string>
	<key>PROJECT_ID</key>
	<string>login-app-8b3b1</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app-8b3b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872968734987:ios:89b0f39fe22b919c01ba0e</string>
</dict>
</plist>